.git
.github
.next
node_modules
dist
coverage
.turbo
.expo
.env
.env.local
npm-debug.log*
*.tsbuildinfo
apps/web/.next
apps/web/out
apps/web/tsconfig.tsbuildinfo
apps/mobile/.expo
apps/mobile/web-build
services/*/dist
packages/*/dist
