NODE_ENV=development

POSTGRES_PASSWORD=change-me
AUTH_TOKEN_SECRET=change-me-to-a-long-random-secret
API_GATEWAY_PORT=4000
AUTH_SERVICE_URL=http://localhost:4101
RESTAURANT_SERVICE_URL=http://localhost:4102
ORDER_SERVICE_URL=http://localhost:4103
TRANSLATION_SERVICE_URL=http://localhost:4104

AUTH_SERVICE_PORT=4101
RESTAURANT_SERVICE_PORT=4102
ORDER_SERVICE_PORT=4103
TRANSLATION_SERVICE_PORT=4104

WEB_PUBLIC_API_URL=http://localhost:4000
NEXT_PUBLIC_API_URL=http://localhost:4000
EXPO_PUBLIC_API_URL=http://localhost:4000
